body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
}
/* header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: white;
} */

.container .header{
    position: fixed;
      top: 1;
      right:  0;
      width: 85%;
      background-color: white;
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-shadow: 0 4px 8px 0 purple;
      z-index: 1;
      padding: 10px ;
    }
    .header p {
        font-size: 50px;
    }

li {
    list-style: none;
}

a{
    text-decoration: none;
}
.logo img {
    width: 60%;
    margin-left: 30px;
    margin-top: 50px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-right: 1px;
    color: rgb(209, 203, 211);
}
h3 {
    text-transform: uppercase;
    font-weight: 800;
}

   table {
    padding: 10px;   
  } 

  h2 {
    color: rgb(63, 12, 56);
    /* font-size: larger; */
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  th {
    text-align: left;
    box-shadow: 0 4px 8px 0 purple;
    padding: 8px;
    color: rgb(167, 51, 167);
    background: #fff;
    border-radius: 7px;
  }

   #theFirst {
    color: black;
  }

  td {
    text-align: left;
    padding: 8px;
    color: white;
    border: 2px solid white;
    border-radius: 9px;
    background: rgb(163, 83, 163);
  }

  .title {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 10px;
    border-bottom: 2px solid rgb(172, 49, 177);
  }



  /* NEWWWWWWWWWWWWWWWWWWW */


  .side-bar {
    /* display: flex;
    align-items: center; */
    width: 10%;
    height: 100vh;
    background-color: rgb(66, 6, 66);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}



.navLinks {
    top: 10%;
    list-style: none;
    position: relative;
    
}

.navLinks li a {
    color: black;
    text-decoration: none;
    /* font-size: large; */
    display: flex;
    align-items: center;
}



 .active {
    background-color: rgb(121, 55, 121);
    width: 100%;
    height: 60px;
    position: absolute;
    top: 2.7%;
    left: 0;
    margin-left: 20px;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 18px rgb(156, 45, 170);
    display: none;
    transition: 0.6s;
 }
 .navLinks li:hover a {
    color: rgb(196, 111, 196);
    transition: 0.3s;
 }

 .navLinks li:hover ~ .active {
    display: block;
 }
 .navLinks li:nth-child(1):hover ~ .active {
    top: 0.2%;
 }
 .navLinks li:nth-child(2):hover ~ .active  {
    top: 18%;
 }
 .navLinks li:nth-child(3):hover ~ .active {
    top: 40%;
 }
 .navLinks li:nth-child(4):hover ~ .active  {
    top: 63%;
 }
 .navLinks li:nth-child(5):hover ~ .active  {
    top:83%;
 }

@media only screen and (max-width: 1024px) {
    .side-bar {
        width: 100px;
        justify-content: center;
    }
    .logo img {
        width: 40px;
    }

    .side-bar a img {
        width: 110%;
        margin-left: 4px;
    }
    .navLinks {
        align-items: center;
        display: flex;
        flex-direction: column;
        right: 15%;
    }
    .active {
        width: 120px;
        margin-left: 7px;
    }
    .container .header{
        width: 80%;
    }
 }









/* .side_Menu { 
    width: 100px;
    height: 100vh;
    background-color: rgba(163, 23, 190, 0.959);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border: 2px solid green;
} */

/* .navLinks {
    width: 800px;
    top: 0;
    list-style: none;
    position: relative;
}
 .navLinks li {
    padding: 15px 13px;
 } */
 /* .navLinks li a {
    color: black;
    text-decoration: none;
    
} */


/* .active {
    content: '';
    color: black;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 2.7%;
    left: 0;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 18px white;
    display: block;
    transition: 0.6s;
 } */


.side_Menu ul {
    background: rgb(164, 83, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80vh;
    justify-content: center;
    border-radius: 30px;

}






/* .side_Menu a::after {
    content: '';
    width: 20px;
    height: 5px;
    background: rgb(60, 78, 78);
    margin-left: 10px;
    margin-bottom: 1px;
    display: none;
}
.side_Menu  a:hover {
    background: white;
    /* position: absolute; 
    color: rgb(60, 78, 78);
    border: whitesmoke;
    border-radius: 35px;
    width: 80%;
    font-weight: 700;
}
.side_Menu  a:hover::after {
    display: inline-block;
} */

.container{
    position: absolute;
    right: 0;
    width: 80%;
    height: 100vh;
}

.fa-solid {
    color: black;
}


.container .header p{
    color: blueviolet;
    display: flex;
   background: white;
   font-size: medium;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.container .content .cards  {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 60vh;
    margin: 60px 60px;
    color: rgb(151, 46, 151);
}

.container .content .cards .card {
    cursor: pointer;
    /* border: 1px solid purple; */
    width: 300px;
    display: flex;
    min-height: 50%;
    align-items: center;
    background: white;
    border-radius: 12px;
    margin: 80px 60px;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgb(245, 243, 243), 0 6px 20px 0 rgb(168, 164, 164)
}

.container .content .cards .card:hover {
    background: rgb(122, 25, 122);
    color: #fff;
    box-shadow: rgb(139, 115, 139);
    width: 300px;
    min-height: 55%;
}


.container .content .content2 {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: white;
    /* border: 2px solid black; */
  }
  .container .content .content2 .studentTab {
    min-height: 100vh;
    flex: 5;
    background-color: #fff;
    margin: 25px 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgb(247, 244, 244), 0 6px 20px 0 black;
    display: none;
    align-items: center;
    flex-direction: column; justify-content: center;
  }







